<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4"><%= @user.first_name %> <%= @user.last_name %></h1>
  <p class="lead">View gossiper profils here.</p>
</div>

<br>

<div class="container">
<div class="card">
  <h5 class="card-header">
    <%= @user.first_name %> <%= @user.last_name %>
  </h5>
  <div class="card-body">
    <p class="card-text"><%= @user.description %></p>
    <li> email: <%= @user.email %> </li>
    <li> age: <%= @user.age %> </li>
    <li>  city: <%= @user.city.name %> </li>
    <li> <%= link_to "#{@user.city.name}", city_path(@user.city.id) %> </li>
  </div>
</div>
</div>
